[ req ]
default_bits       = 2048
default_md         = sha256
default_keyfile    = ca.key
distinguished_name = req_distinguished_name
x509_extensions    = v3_ca
prompt             = no

[ req_distinguished_name ]
CN = Spice AI TLS Sample CA

[ v3_ca ]
subjectKeyIdentifier = hash
authorityKeyIdentifier = keyid:always,issuer:always
basicConstraints = CA:TRUE
keyUsage = critical, keyCertSign, cRLSign
