[ req ]
default_bits       = 256
default_keyfile    = spiced.key
distinguished_name = req_distinguished_name
req_extensions     = req_ext
prompt             = no

[ req_distinguished_name ]
CN = spiced.localhost

[ req_ext ]
subjectAltName = @alt_names

[ alt_names ]
DNS.1 = localhost
DNS.2 = spiced-tls
IP.1 = 127.0.0.1